
<!-- ################################################################################################ --> 

<div class="wrapper row1">
  <header id="header" class="clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="index.html">Skssf Edakadappuram</a></h1>
      <p>Smastha kerala jammiyathul ulama</p>
    </div>
    <div class="fl_right" style="margin-right: 3%;">
    <img src="/images/skssf/skssd trend logo.png" alt="" style="width: 70px;height: 60px;background-color:white;border-radius: 15%;">
    </div>
    <!-- ################################################################################################ --> 
  </header>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <div class="rounded">
    <nav id="mainav" class="clear"> 
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a class="drop" href="#">Pages</a>
          <ul>
            <li><a href="pages/gallery.html">Gallery</a></li>
            <li><a href="pages/portfolio.html">Portfolio</a></li>
            <li><a href="pages/full-width.html">Full Width</a></li>
            <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
            <li><a href="pages/sidebar-left-2.html">Sidebar Left 2</a></li>
            <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
            <li><a href="pages/sidebar-right-2.html">Sidebar Right 2</a></li>
            <li><a href="pages/basic-grid.html">Basic Grid</a></li>
          </ul>
        </li>
        <li><a class="drop" href="#">Dropdown</a>
          <ul>
            <li><a href="#">Level 2</a></li>
            <li><a class="drop" href="#">Level 2 + Drop</a>
              <ul>
                <li><a href="#">Level 3</a></li>
                <li><a href="#">Level 3</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Another Link Text</a></li>
        <li><a href="#">This a very long link</a></li>
        <li><a href="#">This is the last</a></li>
      </ul>
      <!-- ################################################################################################ --> 
    </nav>
  </div>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper">
  <div id="slider">
    <div id="slide-wrapper" class="rounded clear" style=""> 
      <!-- ################################################################################################ -->
      <figure id="slide-1"><a class="view" href="#"><img src="/images/skssf/skbg.jpg" alt="" style="width: 100%;height: 400px;"></a>
        <figcaption style="text-align: center; background-color: rgba(75, 5, 5, 0.295);">
          <h1 style="color: goldenrod;font-family: 'Times New Roman', Times, serif;">Samastha Kerala Sunni Students Federation</h1>
          <div style="display: flex;justify-content: center;">
            <img src="/images/skssf/skssd trend logo.png" alt="" style="width: 70px;
            height: 60px;border-radius: 15%;">
          <p style="color: aliceblue;">വിജ്ഞാനം<br> വിനയം<br> സേവനം</p>
          </div>
        </figcaption>
      </figure>
      <figure id="slide-2"><a class="view" href="#"><img src="images/demo/slider/2.png" alt=""></a>
        <figcaption>
          <h2>Aliquatjusto quisque nam</h2>
          <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id lacus parturpis.</p>
          <p class="right"><a href="#">Continue Reading &raquo;</a></p>
        </figcaption>
      </figure>
      <figure id="slide-3"><a class="view" href="#"><img src="images/demo/slider/3.png" alt=""></a>
        <figcaption>
          <h2>Aliquatjusto quisque nam</h2>
          <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id lacus parturpis.</p>
          <p class="right"><a href="#">Continue Reading &raquo;</a></p>
        </figcaption>
      </figure>
      <figure id="slide-4"><a class="view" href="#"><img src="images/demo/slider/4.png" alt=""></a>
        <figcaption>
          <h2>Aliquatjusto quisque nam</h2>
          <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id lacus parturpis.</p>
          <p class="right"><a href="#">Continue Reading &raquo;</a></p>
        </figcaption>
      </figure>
      <figure id="slide-5"><a class="view" href="#"><img src="images/demo/slider/5.png" alt=""></a>
        <figcaption>
          <h2>Dapiensociis temper donec</h2>
          <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et ac vest penatibus id lacus parturpis.</p>
          <p class="right"><a href="#">Continue Reading &raquo;</a></p>
        </figcaption>
      </figure>
      <!-- ################################################################################################ -->
      <ul id="slide-tabs">
        <li><a href="#slide-1">All About The University</a></li>
        <li><a href="#slide-2">Why You Should Study With Us</a></li>
        <li><a href="#slide-3">Education And Student Experience</a></li>
        <li><a href="#slide-4">Alumni And Its Donors</a></li>
        <li><a href="#slide-5">Latest University News &amp; Events</a></li>
      </ul>
      <!-- ################################################################################################ --> 
    </div>
  </div>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->


 <!----######################################################################################----->
      <!----------------------card feeld----------------------------->



<div class="wrapper row3">
  <div class="rounded" style="display: flex;">
  
    <main class="container"> 
      <h1 class="text-warning text-center" style="font-size: x-large;">Executive Committee 
      <p style="font-size: medium; color: #000;">
        <script type="text/javascript">document.write(new Date().getFullYear())</script>
    -<script type="text/javascript">document.write(new Date().getFullYear()+1)</script>
    </p></h1>
      
<div class="row">
      <div class="col-md-12">
      <div class="card-group carousel slide" id="carouselExampleSlidesOnly"  data-ride="carousel">
        
  <div class="card mr-4" style="border-radius: 5%; background-color: rgb(54, 41, 3); width: 120px;">
 <div style="display: flex;align-items: center;justify-content: center;">
  {{#if threeeMembers.president}}
  <img class="card-img-top circular" src="/images/meberse-images/{{threeeMembers.president._id}}.jpg" alt="Card image cap" style="border-radius: 50%; width: 200px;height: 200px; align-items: center;"></div>
        {{else}}
  <div style="display: flex;align-items: center;justify-content: center;"><img class="card-img-top circular" src="/images/user_318-159711.avif" alt="Card image cap" style="border-radius: 50%; width: 200px;height: 200px; align-items: center;"></div>
   {{/if}}
    <div class="card-body">
      <h5 class="card-title text-center">President</h5>
      <p class="card-text">Name : <span style="color: crimson; font-size: larger;margin-left: 5%;" > {{threeeMembers.president.name}} </span></p>
      <p class="card-text">Name : <span style="color: crimson; font-size: larger;margin-left: 5%;" > {{threeeMembers.president.mobaile}} </span></p>
      

    </div>
  </div>
  <div class="card mr-4" style="border-radius: 5%; background-color: rgb(54, 41, 3); width: 120px;">
    {{#if threeeMembers.G_secretary}}
 <div style="display: flex;align-items: center;justify-content: center;"><img class="card-img-top circular" src="/images/meberse-images/{{threeeMembers.G_secretary._id}}.jpg" alt="Card image cap" style="border-radius: 50%; width: 200px;height: 200px; align-items: center;"></div>
      {{else}}
  <div style="display: flex;align-items: center;justify-content: center;"><img class="card-img-top circular" src="/images/user_318-159711.avif" alt="Card image cap" style="border-radius: 50%; width: 200px;height: 200px; align-items: center;"></div>
   {{/if}}
    <div class="card-body">
      <h5 class="card-title text-center">General Secretary</h5>
     <p class="card-text">Name : <span style="color: crimson; font-size: larger;margin-left: 5%;" > {{threeeMembers.G_secretary.name}} </span></p>
      <p class="card-text">Name : <span style="color: crimson; font-size: larger;margin-left: 5%;" > {{threeeMembers.G_secretary.mobaile}} </span></p>
      
    </div>
  </div>
   <div class="card " style="border-radius: 5%; background-color: rgb(54, 41, 3); width: 120px;">
    {{#if threeeMembers.treasurer}}
 <div style="display: flex;align-items: center;justify-content: center;"><img class="card-img-top circular" src="/images/meberse-images/{{threeeMembers.treasurer._id}}.jpg" alt="Card image cap" style="border-radius: 50%; width: 200px;height: 200px; align-items: center;"></div>
   {{else}}
  <div style="display: flex;align-items: center;justify-content: center;"><img class="card-img-top circular" src="/images/user_318-159711.avif" alt="Card image cap" style="border-radius: 50%; width: 200px;height: 200px; align-items: center;"></div>
   {{/if}}
    <div class="card-body">
      <h5 class="card-title text-center">treasurer</h5>
    <p class="card-text">Name : <span style="color: crimson; font-size: larger;margin-left: 5%;" > {{threeeMembers.treasurer.name}} </span></p>
      <p class="card-text">Name : <span style="color: crimson; font-size: larger;margin-left: 5%;" > {{threeeMembers.treasurer.mobaile}} </span></p>
    </div>
  
  </div>
</div>
     
      <div class="clear"></div>
    </div>
      </div>
      <a class="float-right" href="/all-members" style="padding-top:2%;padding-right: 5%; font-size: large;">more....</a>
    </main>
    
  </div>
  
</div>
<!--#############################-----------end -----------############################################-->



<!-- ###############################---photo gallery----########################################################### --> 

<div class="wrapper row3">
  <div class="rounded" style=" box-sizing: border-box;">
          <h2 class="photoghd text-warning text-center" style="font-size: x-large; text-decoration: none;">Photo gallary 
      <p style="font-size: medium; color: #000;">
        <script type="text/javascript">document.write(new Date().getFullYear())</script>
    -<script type="text/javascript">document.write(new Date().getFullYear()+1)</script>
    </p></h2>
  
    <main class="container container1 mb-3" style="background-image: linear-gradient(
        to top right, #8B5CF6, #EC4899);"> 
    
     
     <!------ photo slider--------------------------->
      
        <div class="slider">
    {{#if allmembers}}    
{{#each allmembers}}
<img src="/images/meberse-images/{{this._id}}.jpg" class="item">

 {{/each}}
 
   {{else}}
   <img src="/images/skssf/skbg.jpg" class="item">
 {{/if}}

 <button id="next">></button>
 <button id="prev"><</button>
        </div>
      


     
    </main> 
     <a class="float-right" href="/view-photos" style="margin-top:-2%;padding-right: 5%; font-size: large; overflow:visible;">more....</a>
   
    <script src="/javascripts/app.js"></script>
  </div>
  
</div>

<!-- #######################################  Photogallary end     ######################################################### --> 




<!-- ################################################################################################ -->
<div class="wrapper row4">
  <div class="rounded">
    <footer id="footer" class="clear"> 
      <!-- ################################################################################################ -->
      <div class="one_third first">
        <figure class="center"><img class="btmspace-15" src="images/demo/worldmap.png" alt="">
          <figcaption><a href="#">Find Us With Google Maps &raquo;</a></figcaption>
        </figure>
      </div>
      <div class="one_third">
        <address>
        Long Educational Facility Name<br>
        Address Line 2<br>
        Town/City<br>
        Postcode/Zip<br>
        <br>
        <i class="fa fa-phone pright-10"></i> xxxx xxxx xxxxxx<br>
        <i class="fa fa-envelope-o pright-10"></i> <a href="#">contact@domain.com</a>
        </address>
      </div>
      <div class="one_third">
        <p class="nospace btmspace-10">Stay Up to Date With What's Happening</p>
        <ul class="faico clear">
          <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="faicon-flickr" href="#"><i class="fa fa-flickr"></i></a></li>
          <li><a class="faicon-rss" href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
        <form class="clear" method="post" action="#">
          <fieldset>
            <legend>Subscribe To Our Newsletter:</legend>
            <input type="text" value="" placeholder="Enter Email Here&hellip;">
            <button class="fa fa-sign-in" type="submit" title="Sign Up"><em>Sign Up</em></button>
          </fieldset>
        </form>
      </div>
      <!-- ################################################################################################ --> 
    </footer>
  </div>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ --> 
  </div>
</div>
<!-- JAVASCRIPTS --> 


<script src="layout/scripts/jquery.min.js"></script> 
<script src="layout/scripts/jquery.fitvids.min.js"></script> 
<script src="layout/scripts/jquery.mobilemenu.js"></script> 
<script src="layout/scripts/tabslet/jquery.tabslet.min.js"></script>
</body>
</html>